@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;

  --color-gray-50: #f7f9ff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #f3f4ff;
  --color-gray-400: #656a7c;
  --color-gray-500: #555564;
  --color-gray-700: #282731;
  --color-gray-800: #17171a;
  --color-gray-900: #0a1109;

  --color-blue-100: #d7efff;
  --color-blue-500: #3422ff;

  --color-aqua-400: #a6ffea;
  --color-aqua-500: #66f9d6;

  --color-pink-300: #ffcfef;
  --color-pink-500: #ffa2df;

  --color-purple-50: #eae7ff;
  --color-purple-100: #e2def9;
  --color-purple-400: #b4baff;
}

:root {
  --background: var(--color-purple-50);
  --background-grid: var(--color-purple-100);
  --foreground: var(--color-gray-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: var(--color-gray-900);
  --background-grid: var(--color-gray-700);
  --foreground: var(--color-gray-50);
}

@theme inline {
  --color-background: var(--background);
  --color-background-grid: var(--background-grid);
  --color-foreground: var(--foreground);
}

html {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
    z-index: -1;
    background-image:
      linear-gradient(to right, var(--background-grid) 1px, transparent 1px),
      linear-gradient(to bottom, var(--background-grid) 1px, transparent 1px);
    background-size: 52px 52px;
    background-position: -26px -26px;
  }
}
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
