@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;

  --color-gray-50: #f7f9ff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #f3f4ff;
  --color-gray-400: #656a7c;
  --color-gray-500: #555564;
  --color-gray-800: #17171a;
  --color-gray-900: #0a1109;

  --color-blue-100: #d7efff;
  --color-blue-500: #3422ff;

  --color-aqua-400: #a6ffea;
  --color-aqua-500: #66f9d6;

  --color-pink-300: #ffcfef;
  --color-pink-500: #ffa2df;

  --color-purple-50: #eae7ff;
  --color-purple-400: #b4baff;
}

@theme inline {
  --color-background: var(--color-purple-50);
  --color-foreground: var(--color-gray-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
